@media screen and (max-width: 660px) {
    nav.broad {
        display: none !important;
    }
    .nav-mobile {
        display: block;
    }
    .nav-desktop {
        display: none !important;
    }
    .offcanvas {
        width: 300px;
    }
    .header {
        padding-top: 4rem;
    }
    .carousel .carousel-inner {
        border-radius: 10px;
    }
    .header .carousel img {
        height: 8rem;
    }
    .card .card-title {
        font-size: 14px;
    }
    .navbar .offcanvas .offcanvas-body .dropdown {
        display: none;
    }
    .title {
        font-size: 18px;
    }
    /* FOOTER============================================================= */
    footer {
        width: 100%;
        padding: 10px 0px 25px 0px;
    }
    footer p {
        font-size: 13px;
        color: white;
        padding-bottom: 0px;
        margin-bottom: 8px;
    }

}
